:root{
    --white: #ffffff;
    --red: #e12f29;
    --blue: #36b6e9;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#card-container {
    width: 90vw;
    height: 98vh;
    background-color: var(--white);
    border: solid 0.9vw black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#card-header{
    background-color: var(--red);
    width: 100%;
    height: 10%;
}

#card-content{
    background-color: var(--white);
    width: 100%;
    height: 80%;
    border-top: thick solid var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.item {
    width: 100%;
    height: 10vh;
    background-color: var(--white);
    border-bottom: thick solid var(--blue);


}

#card-footer{
    background-color: var(--red);
    width: 100%;
    height: 10%;
}


